/* Pretandard 폰트 적용 */
/*
@font-face {
	font-family: 'Pretendard Variable';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: local('Pretendard Variable'), url('../fonts/PretendardVariable.woff2') format('woff2-variations');
}

@font-face {
    font-family: 'Pretendard';
    src: url('../fonts/Pretendard-Thin.woff2') format('woff2'),
    url('../fonts/Pretendard-Thin.woff') format('woff');
    font-weight: 100;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../fonts/Pretendard-ExtraLight.woff2') format('woff2'),
    url('../fonts/Pretendard-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../fonts/Pretendard-Light.woff2') format('woff2'),
    url('../fonts/Pretendard-Light.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../fonts/Pretendard-Regular.woff2') format('woff2'),
    url('../fonts/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../fonts/Pretendard-Medium.woff2') format('woff2'),
    url('../fonts/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../fonts/Pretendard-SemiBold.woff2') format('woff2'),
    url('../fonts/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../fonts/Pretendard-Bold.woff2') format('woff2'),
    url('../fonts/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../fonts/Pretendard-ExtraBold.woff2') format('woff2'),
    url('../fonts/Pretendard-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../fonts/Pretendard-Black.woff2') format('woff2'),
    url('../fonts/Pretendard-Black.woff') format('woff');
    font-weight: 900;
    font-display: swap;
}
*/

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  font-family: Pretendard Variable, Roboto, sans-serif;
  --scrollbarBG: #ffffff00;
  --thumbBG: #b8b8b8;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
::-webkit-scrollbar {
  width: 5px;
  height:3px;
}
::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
}
::-webkit-scrollbar-thumb:hover { background: #999; } /* 실질적 스크롤 바 위에 마우스를 올려다 둘 때 */
::-webkit-scrollbar-thumb:active { background: #808080; } /* 실질적 스크롤 바를 클릭할 때 */

::selection {
  background: rgba(45, 170, 219, 0.3);
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
}

.sticky-nav {
  position: sticky;
  z-index: 10;
  top: -1px;
  backdrop-filter: blur(5px);
  transition: all 0.5s cubic-bezier(0.4, 0, 0, 1);
  border-bottom-color: transparent;
}

.remove-sticky {
  position: unset;
}

.sticky-nav-full {
  @apply border-b border-opacity-50 border-gray-200 dark:border-gray-600 dark:border-opacity-50;
}

.header-name {
  /* display: none; */
  opacity: 1;
  /* opacity: 0; */
  overflow: hidden;
}

.sticky-nav-full .nav {
  @apply text-gray-600 dark:text-gray-300;
}

nav {
  flex-wrap: wrap;
  line-height: 1.5em;
}

.article-tags::-webkit-scrollbar {
  width: 0 !important;
}

.tag-container ul::-webkit-scrollbar {
  width: 0 !important;
}

.tag-container ul {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.mobile-x-scroll {
  overflow-x: scroll;
}

@media (max-width: 768px) {
  .sticky-nav-full {
    @apply max-w-full border-b border-opacity-50 border-gray-200 dark:border-gray-600 dark:border-opacity-50;
  }
  .header-name {
    display: block;
    /* opacity: 0; */
    transition: all 0.5s cubic-bezier(0.4, 0, 0, 1);
  }
  .sticky-nav-full .header-name {
    opacity: 1;
    @apply dark:text-gray-300 text-gray-600;
  }
}

@supports not (backdrop-filter: none) {
  .sticky-nav {
    backdrop-filter: none;
    @apply bg-day bg-opacity-90 dark:bg-night dark:bg-opacity-90;
  }
}

@media (min-width: 768px) {
  .mobile-x-scroll {
    overflow-x: hidden;
  }
}


blockquote p {
  font-size: 0.3em !important;
}

/* Kakao FE 코드 박스 CSS */
.gatsby-highlight-code-line {
  background-color: #022a4b;
  border-left: .35em solid #0687f0;
  display: block;
  margin-left: -1.2em;
  margin-right: -1.2em;
  padding-left: .75em;
  padding-right: 1em
}

code[class*=language-],pre[class*=language-] {
  text-shadow: none !important;
  word-wrap: normal;
  -ms-overflow-style: none;
  background: none;
  color: #e0e0e0 !important;
  font-family: Fira Code,Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace !important;
  font-size: .95em;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  line-height: 1.6;
  overflow: -moz-scrollbars-none;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  text-align: left;
  white-space: pre;
  word-break: normal;
  word-spacing: normal
}

pre[class*=language-]::-webkit-scrollbar {
  text-shadow: none !important;
  display: none
}

pre[class*=language-] {
  border-radius: .6em;
  margin: 1.5em 0;
  overflow: auto;
  text-shadow: none !important;
  padding: 1.2em
}

/* //포스트 코드박스 css
@media screen and (max-width: 730px) {
  pre[class*=language-] {
      border-radius: .3rem;
      margin: 1.5em -1.2rem;
      width: calc(100% + 2.4rem);
      text-shadow: none !important;
  }
}
*/

:not(pre)>code[class*=language-],pre[class*=language-] {
  background: #1f2937 !important;
  text-shadow: none !important;
  border: 0.5px solid #444 !important;
}

:not(pre)>code[class*=language-] {
  background: #f0f0f0;
  border-radius: .3em;
  color: #444;
  font-size: .85em;
  margin: 0 .1em;
  padding: .11em .3em;
  white-space: normal
}

.token.block-comment,.token.cdata,.token.comment,.token.doctype,.token.prolog {
  color: #616161 !important;
}

.token.punctuation {
  color: #e0e0e0 !important;
}

.token.attr-name,.token.deleted,.token.namespace,.token.tag {
  color: #e2777a !important;
}

.token.function-name {
  color: #6196cc !important;
}

.token.boolean,.token.function,.token.number {
  color: #ff9100 !important;
}

.token.class-name,.token.constant,.token.property,.token.symbol {
  color: #ff0 !important;
}

.token.atrule,.token.builtin,.token.important,.token.keyword,.token.selector {
  color: #b388ff !important;
}

.token.attr-value,.token.char,.token.regex,.token.string,.token.variable {
  color: #00e676 !important;
  background:none !important;
}

.token.entity,.token.operator,.token.url {
  color: #67cdcc !important;
  background: none !important;
}

.token.bold,.token.important {
  font-weight: 700
}

.token.italic {
  font-style: italic
}

.token.entity {
  cursor: help
}

.token.inserted {
  color: green
}
